* {
    box-sizing: border-box;
    font-family:    Arial, Helvetica, sans-serif;
}

body {
    background-color: #ddd;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h2 {
    display: inline-block   ;
    margin:10px;
    text-align: left;
    color: #f1f1f1;
}

.barre_haute {
    background-color: #333;
    overflow: hidden;
}

.barre_haute a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

.barre_haute a:hover {
  background-color: #ddd;
  color: black;
}

.content {
  background-color: #ddd;
  padding: 10px;
}

.footer {
  margin-top: auto;
  background-color: #222;
  color: #f2f2f2f2;
  padding: 10px;
}