@charset "utf-8";
@import url('../../css/main.css');
/* Template CSS */

table, th, td {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-collapse: collapse;
}


th,td {
  font-family: Verdana, Geneva, sans-serif;
  font-size : 14px;
  padding: 5px;
  text-align:center;
}

th {
   background-color: grey;
   color: white; 
}

td {
   color: black;
}
td.total {
  font-weight: bold;
}


tr.pair {
   background-color: white;
   color: black;
}
tr.impair {
   background-color: #EDEDED;/* gris clair */
   color: black;
}
