@import url('../css/main.css');

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  pointer-events: all;
}   

#pop-up_form {
    display: none;
    width: 350px;
    margin: 0px;
    background-color: white;
    font-family: Arial;
    position: relative;
    left: 50%;
    top: 50%;
    z-index: 9999;
    margin-left: -160px;
    margin-top: 0px;
    box-shadow: 1px 1px 5px #444444;
    padding: 20px 40px 40px 40px;
}

#login_form {
    display: none;
}

#register_form {
    display: none;
}


.inputs {
    margin: 10px
}
